[submodule "cli/ext/libovr"]
	path = cli/ext/libovr
	url = https://github.com/if1live/LibOVR.git
[submodule "cli/ext/googletest"]
	path = cli/ext/googletest
	url = https://github.com/if1live/googletest-svn.git
[submodule "cli/ext/loki"]
	path = cli/ext/loki
	url = https://github.com/dutor/loki.git
